@model phase2MVC.Models.Student  

@{
    ViewData["Title"] = "Display2";
}

<h1>Display2</h1>

 
   ID is @Model.Id
<br />
   Name is @Model.Name
<br />
   Batch is @Model.Batch
<br />
   DOJ is @Model.Doj